<template>
    <require from="../../../common/components/controls-bar/controls"></require>

    <controls-bar 
        remove.call="removeSelected()" 
        rdisabled.bind="isAllDeselected" 
        add.call="launchAddModal()"
        i.call="inspect()"
    ></controls-bar>

    <table class="table table-striped" aurelia-table="
        data.bind: elements; 
        display-data.bind: $displayData;
        current-page.bind: currentPage; 
        page-size.bind: pageSize; 
        total-items.bind: totalItems;
    ">
        <thead>
            <tr>
                <th aut-sort="key: name">Name</th>
                <th aut-sort="key: buisnessDeveloperId">Buisness Developer</th>
                <th aut-sort="custom.bind: dateSort">Submit Decision Date</th>
                <th aut-sort="custom.bind: dateSort">Submit Date</th>
                <th aut-sort="custom.bind: dateSort">Client Decision Date</th>
                <th aut-sort="key: amount">Amount</th>
                <th aut-sort="key: status">Status</th>

            </tr>
        </thead>
        <tbody>
            <tr 
                repeat.for="quote of $displayData" 
                aut-select="row.bind: quote; mode: single; selected-class: info" 
                select.delegate="setLastSelected($event.detail.row)"
                dblclick.delegate="goToLastSelected()"
            >
                <td>${quote.name}</td>
                <td>${quote.buisnessDeveloperId}</td>
                <td>${quote.$submitDecisionDate}</td>
                <td>${quote.$submitDate}</td>
                <td>${quote.$clientDecisionDate}</td>
                <td>${quote.amount}</td>
                <td>
                    ${quote.$status}
                    <div style.bind="statuscolors[quote.$status]" class="status-indicator"></div>
                </td>
            </tr>
        </tbody>
    </table>

    <aut-pagination 
        current-page.bind="currentPage" 
        page-size.bind="pageSize" 
        total-items.bind="totalItems" 
        pagination-size.bind="5"
        boundary-links.bind="true">
    </aut-pagination>

</template>